.navbar li .glyphicon {
    margin-right: 10px;
}

.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
    color: rgba(255, 255, 255, 0.75);
    background-color: transparent!important;
    background-image: none!important;
}

.navbar-right {
    margin-right: 0px;
    float: right!important;
    margin: 0;
}

.navbar {
    background-color: #343a40;
    background-image: none;
    border-radius: 0;
    border-width: 0;
    height: 100%;
    margin-bottom: 0px;
}

.navbar .container-fluid {
    padding: 0;
    margin: 0;
}

.navbar .container-fluid .navbar-brand {
    margin: 0;
    color: #fff!important;
}

.navbar ul {
    background-color: #212427
}

.navbar li {
    font-size: 15px;
    margin: 6px;
}

.navbar li a {
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 16px;
}

.navbar-user
{
    right: 80px;
    position: absolute;
    font-size: 16px;
    padding: 15px 15px;
    color: rgba(255, 255, 255, 0.5);
    width: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-user:hover,.navbar-user:focus
{
    color: #fff;
}


@media (max-width: 767px) {
    .navbar-right {
        float: none!important;
    }
    .navbar .dropdown-toggle {
        float: right;
    }
    ul .dropdown-menu {
        float: left!important;
        width: -webkit-fill-available!important;
        background-color: #27292b!important;
        border-radius: 0;
    }
    .navbar-user{
        width: 200px;
    }
}
