@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

body {
    background: #f1f1f1;
}

.short-cut-container-down {
    height: 40px;
    background: white;
    border: 1px solid #e1e2e5;
    border-top: 0;
    
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 95% 55%, 90% 95%, 85% 55%, 80% 95%, 75% 55%, 70% 95%, 65% 55%, 60% 95%, 55% 55%, 50% 95%, 45% 55%, 40% 95%, 35% 55%, 30% 95%, 25% 55%, 20% 95%, 15% 55%, 10% 95%, 5% 55%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 95% 55%, 90% 95%, 85% 55%, 80% 95%, 75% 55%, 70% 95%, 65% 55%, 60% 95%, 55% 55%, 50% 95%, 45% 55%, 40% 95%, 35% 55%, 30% 95%, 25% 55%, 20% 95%, 15% 55%, 10% 95%, 5% 55%, 0% 100%);
}

.short-cut-container-up {
    height: 40px;
    background: white;
    border: 1px solid #e1e2e5;
    border-bottom: 0;
    
    -webkit-clip-path: polygon(0% 45%, 5% 5%, 10% 45%, 15% 5%, 20% 45%, 25% 5%, 30% 45%, 35% 5%, 40% 45%, 45% 5%, 50% 45%, 55% 5%, 60% 45%, 65% 5%, 70% 45%, 75% 5%, 80% 45%, 85% 5%, 90% 45%, 95% 5%, 100% 45%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 45%, 5% 5%, 10% 45%, 15% 5%, 20% 45%, 25% 5%, 30% 45%, 35% 5%, 40% 45%, 45% 5%, 50% 45%, 55% 5%, 60% 45%, 65% 5%, 70% 45%, 75% 5%, 80% 45%, 85% 5%, 90% 45%, 95% 5%, 100% 45%, 100% 100%, 0% 100%);
}