.ant-form.post-form-container {
    margin-top: 50px;
    padding: 30px;
    border: 1px solid #e1e2e5;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom: 0;
    background: #FFFFFF;
    
    padding-bottom: 120px;

    -webkit-clip-path: polygon(-5% -5%, 105% -5%, 105% 110%, 95% 85%, 90% 95%, 85% 85%, 80% 95%, 75% 85%, 70% 95%, 65% 85%, 60% 95%, 55% 85%, 50% 95%, 45% 85%, 40% 95%, 35% 85%, 30% 95%, 25% 85%, 20% 95%, 15% 85%, 10% 95%, 5% 85%, -5% 110%);
    clip-path: polygon(-5% -5%, 105% -5%, 105% 110%, 95% 85%, 90% 95%, 85% 85%, 80% 95%, 75% 85%, 70% 95%, 65% 85%, 60% 95%, 55% 85%, 50% 95%, 45% 85%, 40% 95%, 35% 85%, 30% 95%, 25% 85%, 20% 95%, 15% 85%, 10% 95%, 5% 85%, -5% 110%);
}

.ant-form .ant-form-item{
    margin: 0;
}

#post-name { 
    height: 40px;
}

#post-short-description {
    height: 80px;
}

#post-description .ql-container{
    min-height: 160px;
}

.action-button {
    font-weight: 700;
    margin-top: 30px;
    min-height: 50px;
    min-width: 160px;
    float: right;
}

